<!DOCTYPE html>
<html>
  <head>
   <title>MongoDB/Mongoose Demo</title>
    <script src="./AnyChart/js/anychart.min.js"></script>
    <link rel="stylesheet" href="./AnyChart/css/anychart-ui.min.css" />
    
    <title>Single-Series Area Chart</title>
      <style>
        html, body, #container {
          width: 80%;
          height: 80%;
          margin: 40;
          padding: 30;
      }
    </style>

  </head>
 	<h1>Stock Market</h1>
    <div id="container"></div>
    <script src="./AnyChart/js/santander.js"></script>
  </body>
</html>
